@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 fw-bold my-4">Welcome</h1>
    <h3 class="mb-3">Navigate your career path with Job Finder: Where Opportunities Meet You.</h3>
    <p>
        "Job Finder" is your ultimate career companion, designed to streamline your job search process. With a user-friendly interface and powerful search capabilities, it connects you with a vast array of job opportunities tailored to your preferences and skills. Whether you're seeking your first job or looking to advance your career, Job Finder simplifies the journey, helping you discover your next professional milestone effortlessly.
    </p>
</div>
